#banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 20px;
  background-color: #4C392D;
  color: #1c0101;
  text-align: center;
  z-index: 1; /* Increase z-index to ensure it's above the dots */
}

#banner h1 {
  margin: 0;
  font-size: 24px;
  color: #9f5f5f;
}

#p5-canvas {
  position: relative;
  z-index: 2; /* Decrease z-index to ensure it's below the banner */
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #4C392D;
  overflow-y: scroll;
}

.popup {
  position: absolute;
  z-index: 3; /* Set a higher z-index to make sure it appears above everything */
  /* Additional styles for your pop-up */
}

#p5-canvas canvas {
  display: block;
}
