#banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 20px;
  background-color: #4C392D; /* Choose your banner color */
  color: #1c0101; /* Choose your text color */
  text-align: center;
  z-index: 1;
}

#banner h1 {
  margin: 0;
  font-size: 24px; /* Adjust the font size as needed */
  color: #9f5f5f;
}

#p5-canvas {
  position: relative;
  z-index: 2;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #4C392D; /* Choose your background color */
  overflow-y: scroll;
}

#p5-canvas canvas {
  display: block;
}
