body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .dashboard {
    display: flex;
    justify-content: space-around;
    width: 80%;
  }
  
  #barChart, #pieChart {
    width: 40%;
    min-height: 400px;
    border: 1px solid #4a1717;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
  }
  